**/.DS_Store

**.log

**/*.log

uControllerEmbDriver-fb-ud/.DS_Store

uControllerEmbDriver-fb-ud/STM32IDE/test-12-29

uControllerEmbDriver-fb-ud/STM32IDE/1_3_24

**/.metadata

# uControllerEmbDriver-fb-ud/STM32IDE/.metadata